@inherits LayoutComponentBase

<div class="sidebar">
    <MenuBar/>
</div>

<div class="main">

    <div id="slider">
        <figure>
            <img src="imgz/gui/slider_1-1200x524.png">
            <img src="imgz/gui/IslamicBankingSlider.jpg">
            <img src="imgz/gui/slider_1-1200x524.png">
            <img src="imgz/gui/IslamicBankingSlider.jpg">
            <img src="imgz/gui/slider_1-1200x524.png">
        </figure>
    </div>


    <div class="content px-4">
        @Body
    </div>
</div>