@page "/AnnualReports"
<h3>AnnualReports</h3>

            <table class="table1" width="100%">
                <thead>
                </thead>


                <tr>
                    <td width="32%" valign="bottom">
                        <a href="RptAnnual2016.aspx">
                            <img src="Documents/Publication/annualReports/AnnualReport2016/annualreport2016.jpg" alt="ZTBL ANNUAL REPORT 2016" width="150"
                                 height="71" border="0" align="right" />
                        </a>
                    </td>
                    <td width="32%" valign="bottom">
                        <a href="RptAnnual2015.aspx">
                            <img src="Documents/Publication/annualReports/AnnualReport2015/annualreport2015.jpg" alt="ZTBL ANNUAL REPORT 2015" width="150"
                                 height="71" border="0" align="right" />
                        </a>
                    </td>
                    <td width="32%" valign="bottom">
                        <a href="RptAnnual2014.aspx">
                            <img src="Documents/Publication/annualReports/annualreport14.jpg" alt="ZTBL ANNUAL REPORT 2014" width="150"
                                 height="71" border="0" align="right" />
                        </a>
                    </td>
                </tr>



                <tr>
                    <td align="right" valign="bottom">24.6 MB <img src="images/pdficonsmall.gif" width="14" height="14"></td>
                    <td align="right" valign="bottom">10.6 MB <img src="images/pdficonsmall.gif" width="14" height="14"></td>
                    <td align="right" valign="bottom">68.6 MB <img src="images/pdficonsmall.gif" width="14" height="14"></td>
                </tr>






                <tr>
                    <td width="32%" valign="bottom">
                        <a href="Documents/Publication/annualReports/ZTBL_AnnualReport2013.pdf" target="_blank">
                            <img src="Documents/Publication/annualReports/AnnualReport2013.jpg" alt="ZTBL ANNUAL REPORT 2013" width="150"
                                 height="71" border="0" align="right" />
                        </a>
                    </td>
                    <td width="32%" valign="bottom">
                        <a href="Documents/Publication/annualReports/AnnualReport2012.pdf" target="_blank">
                            <img src="Documents/Publication/annualReports/AnnualReport2012.JPG" alt="ZTBL ANNUAL REPORT 2012" width="150"
                                 height="71" border="0" align="right" />
                        </a>
                    </td>
                    <td width="32%" valign="bottom">
                        <a href="Documents/Publication/annualReports/AnnualReport2011.pdf" target="_blank">
                            <img src="Documents/Publication/annualReports/AnnualReport2011.JPG" alt="ZTBL ANNUAL REPORT 2011" width="150"
                                 height="71" border="0" align="right" />
                        </a>
                    </td>
                </tr>



                <tr>
                    <td align="right" valign="bottom">21.4 MB <img src="images/pdficonsmall.gif" width="14" height="14"></td>
                    <td align="right" valign="bottom">2.95 MB <img src="images/pdficonsmall.gif" width="14" height="14"></td>
                    <td valign="bottom">2.89 MB <img src="images/pdficonsmall.gif" width="14" height="14" /></td>
                </tr>
                <tr>
                    <td width="32%" valign="bottom">
                        <a href="Documents/Publication/annualReports/ZTBLAnnualReport2010.pdf" target="_blank">
                            <img src="images/annualReport2010.jpg" alt="ZTBL ANNUAL REPORT 2010" width="150"
                                 height="71" border="0" align="right" />
                        </a>
                    </td>
                    <td width="32%" valign="bottom">
                        <a href="Documents/Publication/AnnualReport2009.pdf" target="_blank">
                            <img src="images/annualReport09.jpg" alt="ZTBL ANNUAL REPORT 2009" width="150"
                                 height="71" border="0" align="right" />
                        </a>
                    </td>
                    <td width="32%" valign="bottom">&nbsp;</td>
                </tr>



                <tr>
                    <td align="right" valign="bottom">6.19 MB <img src="images/pdficonsmall.gif" width="14" height="14" /></td>
                    <td align="right" valign="bottom">28.8 MB<img src="images/pdficonsmall.gif" width="14" height="14" /></td>
                    <td valign="bottom" align="right">&nbsp;</td>
                </tr>



            </table>
       

@code {

}
