@page "/"

<div class="container text-center m-1">
    @*<h3>PRODUCTS WE OFFER</h3><br>*@

    <div class="tcontainer">
        <div class="ticker-wrap">
            <div class="ticker-move">
                <div class="ticker-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="ticker-item">Aliquam consequat varius consequat.</div>
                <div class="ticker-item">Fusce dapibus turpis vel nisi malesuada sollicitudin.</div>
                <div class="ticker-item">Pellentesque auctor molestie orci ut blandit.</div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-sm-4">


            <div class="card text-white bg-success mb-3">
                <div class="card-header">AGRICULTURE LOANS</div>
                <div class="card-body">

                    <p class="card-text">This product is tailored through which working capital loans are provided for existing borrowers of crop production...</p><a class="btn btn-success" href="#" role="button">Read More...</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">


            <div class="card text-white bg-success mb-3">
                <div class="card-header">BANK ACCOUNTS</div>
                <div class="card-body">

                    <p class="card-text">ZTBL offers everyday bank accounts, savings accounts and term deposits to suit your banking needs. Learn more about...</p><a class="btn btn-success" href="#" role="button">Read More...</a>
                </div>
            </div>



        </div>
        <div class="col-sm-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">PUBLIC AWARANESS & WARNINGS</a>
                <a href="#" class="list-group-item">Home Remittances</a>
                <a href="#" class="list-group-item">Apply For ATM</a>
                <a href="#" class="list-group-item">ZTBL measures during COVID-19 outbreak</a>
            </div>

        </div>





    </div>
</div>
<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
        <h5 class="display-4 font-weight-normal">Product & Services</h5>
    </div>
</div>
        <ProductData></ProductData>
        <SurveyPrompt Title="How is Blazor working for you?" />
